body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
#form{
    border:3px solid maroon;
    margin-left:34%;
    margin-right: 34%;
    border-radius:3%;
    box-shadow:2px 2px 2px gold;
    background-color:mediumpurple;
    padding-top:2%;
   
}
/*for the paragraph of the form*/
.forms p {
   
  font-style:italic;
  font-size:24px;
  margin-left: 2%;
  padding-top:3%;
 
  }
 /*for the submit button*/
  button{
    padding:2%;
   margin-left:65%;
   border:2px solid blue;
   border-radius:30%;
   width:20%;
   font-size:20px;
   display: inline-block;
   background-color: #3e8e41;
   box-shadow: 0 5px #666;
   margin-top: 5%;
  }

button:hover {background-color: #3e8e41}

button:active {
    background-color:green;
    box-shadow: 0 5px maroon;
  transform: translateY(4px);
}
/*for the input text*/
 input{
     padding:2%;
     width:40%;
     float:right;
     margin-right:15%;
    }
 /*for the answer paragraph*/
#demo{
    text-align:center;
    font-size:24px;
    color:maroon;
    background-color:cornflowerblue;
   }