body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
.table1 {
  width: 500px;
  height: 80px;
  border: solid black
  text-align: center;
}

.table2 {
  width: 500px;
  height: 80px;
  text-align: center;
}

.table3 {
  
  width: 500px;
  height: 80px;
  text-align: center;
}

.table4 {
 
  width: 400px;
  height: 80px;
  text-align: center;
}
.triangle {
  display: block;
  margin: auto;
  width: 50%;
  border:solid black;
  padding: 30px;
  position: center;
}

h2 {
  color: black;
  text-align: center;
  font-size: 26px;
}
h3 {
  color:black
  text-align: center;
  font-size: 26px;
  font-family:sans-serif;
}
p {
  font-size: 23px;
  font-family: serif;
  font-style: italic;
}